@model BLL.ViewModels.ProductsViewModel

@{
    ViewBag.Title = "Remove";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<h3 style="color:red">Вы уверены, что хотите удалить продукт "@Html.DisplayFor(model => model.ProductName)"?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proteins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proteins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carbohydrates)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carbohydrates)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaloricValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaloricValue)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /><br /><br />
            @Html.ActionLink("Назад к списку", "Index", null, htmlAttributes: new { @class = "btn btn-success", @style = "line-height:1; margin-bottom:5px;" })
        </div>
    }
</div>
