@model BLL.ViewModels.RecipesViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Детально о рецепте</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RecipeName)
        </dt>

        <dd>
            <h4>@Html.DisplayFor(model => model.RecipeName)</h4>

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecipeImage)
        </dt>

        <dd>
            <br/>
            <img src="@Url.Content(Model.RecipeImage)" alt="@Model.RecipeName" />
        </dd>

        <dt>
            
            @Html.DisplayNameFor(model => model.RecipeDescription)
        </dt>

        <dd>
            <br />
            @Html.Raw(Model.RecipeDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModefiedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModefiedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CookingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CookingTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecipeCategory.NameRecipeCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipeCategory.NameRecipeCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Menus)
        </dt>
        <dd>
            @foreach (var menu in Model.Menus)
            {
                <span>
                    @menu.Name
                </span>
            }
        </dd>
    </dl>

    <table>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Products)</td>
            <td>@Html.DisplayNameFor(model => model.Weight)</td>
        </tr>

        <tr>
            @foreach (var prod in Model.Products)
            {

                <td> @prod.Name</td>

            }
        </tr>

        <tr>
            @foreach (var prod in Model.Weight)

            {

                <td> @prod.Weight</td>

            }

        </tr>



    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
