@*@model IEnumerable<BLL.ViewModels.RecipesViewModel>*@
@model PagedList.IPagedList<BLL.ViewModels.RecipesViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Рецепты";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@Html.Partial("_NavBar")
<h2>Рецепты</h2>
@*<p>
    @Html.ActionLink("Create New", "Add")
</p>*@

@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="form-group">
            <table class="searchRecipe">
                <tr>
                    <th>@Html.ActionLink("Create New", "Add")</th>
                    <th>@Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })</th>
                    <th><input type="submit" value="Search" /></th>
                    <th>@Html.ActionLink("Show All", "Index")</th>
                </tr>
            </table>
        </div>
    </div>

}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().RecipeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().RecipeImage)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.First().RecipeDescription)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.First().CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ModefiedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().CookingTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().RecipeCategory.NameRecipeCategory)
        </th>
        <th>Меню</th>
        <th>Продукты</th>
        <th>Изменить</th>
    </tr>
    <tbody id="listProducts">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RecipeName)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.RecipeImage)*@
                    <img style="width:200px" src="@Url.Content(item.RecipeImage)" alt="@item.RecipeName" />
                </td>
                @*<td>*@
                    @*@Html.HiddenFor(modelItem => item.RecipeDescription)*@
                @*</td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModefiedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CookingTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecipeCategory.NameRecipeCategory)
                </td>

                <td>
                    @foreach (var menu in item.Menus)
                    {
                        <span style="border: solid 1px; border-radius: 3px; padding: 3px; margin: 4px;">
                            @menu.Name
                            <a href="#" class="delRecipeMenu" data-id2="@menu.Id" data-menu-id="@item.Id">x</a>
                        </span>
                    }
                </td>

                <td >
                    
                        @foreach (var prod in item.Products)
                        {
                            <span style="border: solid 1px; border-radius: 3px; padding: 3px; margin: 4px;">
                                @prod.Name
                                @*@prod.IsChecked*@
                                <a href="#" class="delRecipeProd" data-id1="@prod.Id" data-prod-id="@item.Id">x</a>
                            </span>
                        }
                    
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount products

@section scripts {
    <script>
        $(function () {
            $("#listProducts").on("click", ".delRecipeProd",
                function () {
                    var obj = $(this);
                    //Дані для відправки на сервер
                    var item = {
                        recipeId: obj.attr("data-prod-id"),
                        prodId: obj.attr("data-id1")
                    };
                    $.ajax({
                        //url: "Admin/Recipe/DeleteRecipeProd",
                        url: "/Recipe/DeleteRecipeProd",
                        type: "POST",
                        data: JSON.stringify(item),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            if (data.rez == 0) {
                                alert("Error delete product");
                            }
                            else {
                                var span = obj.closest('span');
                                span.remove();
                            }
                            console.log(data.rez);

                        }
                    });
                });
        });


        $(function () {
            $("#listProducts").on("click", ".delRecipeMenu",
                function () {
                    var obj = $(this);
                    //Дані для відправки на сервер
                    var item = {
                        recipeId: obj.attr("data-menu-id"),
                        menuId: obj.attr("data-id2")
                    };
                    $.ajax({
                        url: "/Recipe/DeleteRecipeMenu",
                        type: "POST",
                        data: JSON.stringify(item),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            if (data.rez == 0) {
                                alert("Error delete menu");
                            }
                            else {
                                var span = obj.closest('span');
                                span.remove();
                            }
                            console.log(data.rez);

                        }
                    });
                });
        });
    </script>
}
