@model BLL.ViewModels.CategoryItemViewModel

@{
    ViewBag.Title = "Remove";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3 style="color:red">Вы уверены, что хотите удалить категорию "@Html.DisplayFor(model => model.NameRecipeCategory)"?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameRecipeCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameRecipeCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPublished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPublished)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /><br /><br />
            @Html.ActionLink("Назад к списку", "Index", null, htmlAttributes: new { @class = "btn btn-success", @style = "line-height:1; margin-bottom:5px;" })
        </div>
    }
</div>
